/* цвет 1 color: #757575 серый основной текст*/

/* цвет 2 color: #FFFFFF белый */
/* цвет 3 color: #2196F3 синий*/
/* цвет 4 color: #212121 черный  */
/* цвет 5 color: rgba(255, 255, 255, 0.6) белый спрозрачностью */

/* шрифты */

:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --contact-color: rgba(255, 255, 255, 0.6);
    --background-color: rgba(255, 255, 255, 1);
    --second-background-color: #2F303A;
    --team-section-color: rgba(245, 244, 250, 1);
}

/* основной цвет и текст */
body {
    font-family: 'Raleway',
    sans-serif;
    font-family: 'Roboto',
    sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    

    color: var(--primary-text-color);
    background-color: var(--background-team-section);
}

/* Хедер */
.page-header {
font-weight: 500;
font-size: 14px;
line-height: 1.14;


}
.page-header .item :hover {
    color: var(--accent-color);
}

.page-header .item :focus {
    color: var(--accent-color);
}


/* логотип */
.logo {
    color: var(--accent-color);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.head-logo {
    color: var(--title-text-color)
}
.footer-logo{
    color: var(--background-color)
}
/* ссылки навигации */

.menu {
    letter-spacing: 0.02em;
    list-style: none;
}
.menu .link{
    color: var(--title-text-color);

    text-decoration: none;

}


    
/* контакты навигации */
.contacts .item  {
    letter-spacing: 0.02em;
    list-style: none;
}

.contacts .link {
    color: var(--primary-text-color);

    text-decoration: none;
    
}


/* Герой */
.hero {
    background-color: var(--second-background-color);
    color: var(--background-color);
    letter-spacing: 0.06em;
}
.hero-title {
    width: 696px;
    height: 120px;
    left: 481px;
    top: 299px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;

}
/* button для Героя */
.hero .button {
    color: var(--background-color);
    background-color: var(--accent-color);

}

.button {
    width: 200px;
    height: 50px;
    left: 729px;
    top: 449px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}


/* секции */


/* внимание к деталям */
.details .section-title {
    /* нужен сброс */
    color: var(--background-color);

    font-size: 1px;
}

.details .list {
    line-height: 1.71;
    list-style: none;
}

.details .title {
    color: var(--title-text-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Чем мы занимаемся */

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.todo-list {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 969px;
}
.list .item {
    list-style: none;
}

/* наша команда  */
.team {
    background-color: var(--team-section-color);

    font-size: 16px;
    text-align: center;
}
.team .title {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.19;
}

/* Футер */
.footer{
    background-color: var(--second-background-color);

}

.address .link {
    color: var(--contact-color);

    line-height: 1.71;
    text-decoration: none;
}

.address .link-adress {
    color: var(--background-color); 
}


/* РЕЗЮМЕ */
.resume-title{
    color: var(--second-background-color);
    font-size: 1px;
}

.text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.buttons {
    background-color: var(--contact-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    cursor: pointer;
}
.buttons:hover {
    background-color: var(--accent-color);
    color: var(--background-color)

} 
.buttons:focus {
    background-color: var(--accent-color);
    color: var(--background-color)

}
/* список картинок */

.item .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.item .text {
    font-size: 16px;
    line-height: 1.88;
}